<div class="relative w-full h-screen">
  <a
    href="https://t.me/star_ccricketanalysis"
    target="_blank"
    class="absolute top-1/2 left-1/2 z-50 transform -translate-x-1/2 -translate-y-1/2"
  >
    <img
      src="https://starwebplayer.pages.dev/star.png"
      alt="Join Telegram"
      class="h-12 w-auto cursor-pointer"
      width="100%"
      height="auto"
    />
  </a>
</div>

<plyr
  plyr
  [plyrDriver]="hlsDriver"
  [plyrOptions]="options"
  [plyrSources]="sources"
  [plyrPoster]="poster"
  [plyrTitle]="'Star Cricket Live'"
  (plyrQualityChange)="onQualityChange()"
  (plyrInit)="player = $event"
  (plyrPlay)="played()"
></plyr>

<script
  disable-devtool-auto="true"
  src="https://cdn.jsdelivr.net/npm/disable-devtool"
  clear-log="true"
  disable-select="true"
  disable-copy="true"
  disable-cut="true"
  disable-paste="true"
></script>
